.jumbotron{
    background-image: url('../CSS/dna.jpg');
    filter: blur(100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body{
    height: 10rem;
    background-color: rgb(215, 240, 240);
}

.text{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: blanchedalmond;
}

.card{
    height: 35%;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

.start{
    background-color: cornflowerblue;
}
#simulation{
    height: 150%;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

#simulation1{
    height: 15rem;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

#line1,#line2,#line3,#line4,#line5,#line6,#line7,#line8,#line9,#line10,#line11,#line12{
    visibility: hidden;
}

.background{
    background-color: rgb(17, 223, 17);
}
